body {
    margin: 0 0 0 0;
}

.Header {
    display: grid;
    grid-template-columns: 100%;
}

.Header .Content___title {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.Header .Ocupation {
    text-align: center;
    letter-spacing: 10px;
    font-size: 25px;
}

.Container__photo {
    display: grid;
    height: 400px;
    grid-template-columns: 100%;
}

.Container__photo img {
    align-self: center;
    justify-self: center;
    border-radius: 50%;
}

@media (max-width: 668px){
    .Header .Content___title {
        font-size: 40px;
    }
    
    .Header .Ocupation {
        font-size: 15px;
    }

    .Container__photo {
        height: 300px;
    }
}